/***
*
* ADDING CUSTOM CSS RULES TO STYLE
*
***/
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

html {

	width: 99%;
	padding: 0px 20px 0px 30px;
	align-content: center;

}

h3.page-heading {

	color: #808000;
	text-align: center;

}

h5.error-message {

	color: #DC143C;
	text-align: center;

}

h4.confirmation-message {

	color: #4DBD08;
	text-align: center;

}